[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]

aozora = "python aozora-corpus-generator.py"

[packages]

natto-py = "*"
jaconv = "*"
lxml = "*"
"html5-parser" = "*"


[dev-packages]
